.custom-modal {
    width: 90% !important
}
.table-filter-row {
    position: relative; }
  
  .filter-list {
    position: absolute;
    max-height: 250px;
    overflow: auto;
    max-width: 220px;
    min-width: 170px;
    left: 0;
    top: 100%;
    border: 2px solid #8E9193; }
    .filter-list.align-left {
      left: auto;
      right: 0; }
  
  .filter-list-item {
    position: relative;
    padding-left: 30px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-align: left; }
    .filter-list-item:nth-child(odd) {
      background-color: #F7F6F6; }
    .filter-list-item:nth-child(even) {
      background-color: white; }
  
  .filter-check-box {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 8px;
    top: 50%;
    margin-top: -7px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid #8F8F8F; }
    .filter-check-box.selected {
      border-color: black;
      background-color: black; }
      .filter-check-box.selected:after {
        content: '';
        position: absolute;
        width: 8px;
        height: 5px;
        box-sizing: border-box;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        top: 50%;
        margin-top: -4px;
        left: 2px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-tranfsorm: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  
  .filter-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    font-weight: normal; }
    .filter-label.select-all-label {
      font-weight: 600; }
  
  .apply-filter {
    position: relative;
    padding-right: 40px; }
  
  .table-filter-parent {
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -8px;
    z-index: 10; }
  
  .table-filter-icon {
    position: relative;
    border-top: 8px solid gray;
    box-sizing: border-box;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    width: 0px;
    height: 0px;
    box-shadow: inset 0 4px gray;
    padding: 2px; }
    .table-filter-icon.selected {
      border-top-color: black;
      box-shadow: inset 0 4px black; }
  
  .ripple {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-tranfsorm: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  
  .ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transform: scale(10, 10);
    -moz-transform: scale(10, 10);
    -ms-tranfsorm: scale(10, 10);
    -o-transform: scale(10, 10);
    transform: scale(10, 10);
    opacity: 0;
    -webkit-transition: transform 0.5s, opacity 1s;
    -moz-transition: transform 0.5s, opacity 1s;
    -ms-transition: transform 0.5s, opacity 1s;
    -o-transition: transform 0.5s, opacity 1s;
    transition: transform 0.5s, opacity 1s; }
  
  .ripple:active:after {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-tranfsorm: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: .2;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    transition: 0s; }
  
  .sort-parent {
    position: absolute;
    background: #F0EEEE;
    z-index: 1;
    right: 6px;
    top: 6px;
    border-radius: 4px;
    border: 1px solid #E1DDDD;
    text-align: center;
    padding: 5px 15px;
    cursor: pointer; }
    .sort-parent.asc .table-filter-arrow.asc {
      background: black; }
      .sort-parent.asc .table-filter-arrow.asc:after {
        border-top-color: black; }
    .sort-parent.dsc .table-filter-arrow.dsc {
      background: black; }
      .sort-parent.dsc .table-filter-arrow.dsc:after {
        border-bottom-color: black; }
  
  .clear-fix:after {
    content: "";
    display: table;
    clear: both; }
  
  .table-filter-arrow {
    position: relative;
    float: left;
    width: 2px;
    height: 12px;
    background: gray; }
    .table-filter-arrow.asc {
      margin-left: 7px; }
      .table-filter-arrow.asc:after {
        content: "";
        position: absolute;
        border-top: 5px solid gray;
        bottom: -1px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        left: -4px; }
    .table-filter-arrow.dsc:after {
      content: "";
      position: absolute;
      border-bottom: 5px solid gray;
      top: -1px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      left: -4px; }
  
  .search-parent {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 60px; }
    .search-parent .search-input {
      position: relative;
      width: 100%;
      height: 24px;
      margin: 0;
      padding-left: 5px;
      box-sizing: border-box;
      font-size: 14px; }
  
.has-danger .col-form-label,
.has-danger .custom-control,
.has-danger .form-check-label,
.has-danger .form-control-feedback,
.has-danger .form-control-label {
    color: #d9534f;
}

.has-warning .col-form-label,
.has-warning .custom-control,
.has-warning .form-check-label,
.has-warning .form-control-feedback,
.has-warning .form-control-label {
    color: #f0ad4e;
}

.has-success .col-form-label,
.has-success .custom-control,
.has-success .form-check-label,
.has-success .form-control-feedback,
.has-success .form-control-label {
    color: #5cb85c;
}

.has-error .form-control {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-warning .form-control {
    border-color: #8a6d3b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-success .form-control {
    border-color: #3c763d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.panel,
.alert,
.tab {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.scroll-table{
    height: 400px !important;
    width: 100% !important;
    overflow-x: scroll !important;
    overflow-y: scroll !important;
    
}
.react-bs-table table td, .react-bs-table table th, .hide-text{
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}
.react-bs-table table td:hover, .react-bs-table table th:hover,.hide-text:hover {
    overflow:visible !important;
}
.hilight{
    background-color: #ada3a3 !important;
}
.tsuccess {
    background-color: #5cb85c;
}

.twarning {
    background-color: #f39c12;
}
.tinfo {
    background-color: #2899a8;
}
.tdanger {
    background-color: #dd4b39;
}

font {
    color: #333;
}
.alert-info {
    color: #000000 !important;
    background-color: #2899a8 !important;
    background-image: linear-gradient(to bottom, #62dbeb 0%, #2899a8 100%) !important;
}
.alert-danger {
    color: #000000 !important;
    background-color: #dd4b39 !important;
    background-image: linear-gradient(to bottom, #f19f94 0%, #dd4b39 100%) !important;
}

.alert-warning {
    color: #000000 !important;
    background-color: #f39c12 !important;
    background-image: linear-gradient(to bottom, #f1c57d 0%, #f39c12 100%) !important;
    
}

.alert-success {
    color: #000000 !important;
    background-color: #5cb85c !important;
    background-image: linear-gradient(to bottom, #c5f0c5 0%, #5cb85c 100%) !important;
}

.nowrap>thead>tr>th,
.nowrap>thead>tr>td,
.nowrap>tbody>tr>th,
.nowrap>tbody>tr>td{
    /* line-height: 25px;  */
    /* vertical-align: top;  */
    /* overflow: hidden;  */
    /* text-overflow: ellipsis;  */
    /* white-space: nowrap;  */
    white-space: nowrap;
}
 